<!DOCTYPE html>
<html lang="es">

{{>headerId}}

<body>
    <style>
        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            border: 1px solid #ccc;
            margin: 10px;
            width: 300px;
            height: 250px;
        }

        .card img {
            width: 200px;
            height: 200px;
            object-fit: contain;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .fa-arrow-left:hover {
            color: #fae603;
        }
    </style>
    <!--Barra de navegación-->
    {{>barId}}
    <!--Barra de navegación-->
    <br><br><br>
    <div class="container">
        <a href="/ventas" style="color:black; text-decoration:none;"><i class="fa fa-arrow-left fa-2x"></i></a>

        <center>
            <div class="row" >
                {{#each productos}}
                <div class="card" style="height: 50%;">
                    <h3>{{nombre}}</h3>
                    <img src="/assets/img/Productos/{{imagen}}" alt="">
                    <p>Precio: {{precio}}</p>
                    <p>Unidades: {{Unidad}}</p>
                </div>
                {{/each}}
            </div>
    </div>
    </center>
</body>
{{#if asignacion}}
<script>
    var permisosInput = document.querySelector('#permisosInput');
    var permisosValue = permisosInput.value;

    var palabras = permisosValue.split(',');

    var menuItems = document.querySelectorAll('.nav li');

    menuItems.forEach(function (item) {
        var items = item.querySelector('p').textContent.trim().toLowerCase();

        if (palabras.includes(items)) {
            item.style.display = 'block';
        } else {
            item.style.display = 'none';
        }
    });
</script>
{{/if}}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!--   Core JS Files   -->
<script src="/assets/js/core/jquery.min.js"></script>
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="/assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="/assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="/assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script>

</html>