<!DOCTYPE html>
<html lang="es">

{{>headerD}}

<body style="background-color: #E3E3E3;
  background-color: #ebecf1;">

  <style>
    #mensajeError {
      display: none;
      color: red;
      margin-top: 5px;
    }

    #mensajeError .icono {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      width: 15px;
      height: 15px;
    }

    .custom-table {
      border-collapse: collapse;
      text-align: center;
      width: 45%;

    }

    .custom-td {
      font-size: 13px;
    }

    .permisos {
      width: 45%;
      padding: 0;
    }
  </style>
  <!--Barra de navegación-->
  {{> bar}}
  <!--Barra de navegación-->
  <center>
    <div class="" style="margin-top: 80px;">

      <!--Start Form&Card-->
      <div class="row">
        <div class="col-6">
          <div class="card" style="width: 85%; border-radius: 0;">

            <h5 class="card-title mt-1" style="margin-bottom: 2%;">Registrar rol</h5>
            <!--Start Card 1-->
            <div class="card-body">
              <form action="" method="post" id="formulario">
                <div class="row justify-content-center">
                  <div class="col-8">
                    <div class="form-group">
                      <label for="nombreRol" style="float: left; padding-right: 10px;">Nombre</label>
                      <input type="text" class="form-control" id="nombreRol" style="border-radius: 0;" name="nombreRol"
                        onclick="validar()" placeholder="Nombre">
                      <div id="mensajeError"></div>
                    </div>
                  </div>
                </div>
            </div>


            <div class="row">
              <div class="col-6">
                <a class="btn btn-danger" href="roles"
                  style="border-radius: 2; margin-top: 1px; width:45%; font-size:13px;" type="button">Cancelar</a>

              </div>
              <div class="col-6">
                <button type="submit" class="formulario__btn btn btn-success"
                  style="border-radius: 2; margin-bottom: 5px; width:45%; font-size:13px;">
                  Agregar</a>
              </div>
            </div>
            <br>
          </div>

        </div>
        <div class="col-6 permisos">
          <form action="" method="post">

            <table class="table custom-table" style="width: 75%;">
              <thead style="background-color: #282d32; color:white;">
                <tr>
                  <th>Permisos</th>
                  <th>Agregar</th>
                </tr>
              </thead>
              <tbody>

                {{#each permisos}}
                <tr>
                  <td class="p-3 text-center" name="nombrePermisos">{{nombrePermisos}}</td>
                  <td>
                    <input onchange="obtener(this, {{idPermisos}})" type="checkbox" id="Permiso">
                  </td>
                  {{!-- <button onclick="Datos()">check</button> --}}
                  {{/each}}

                </tr>
              </tbody>
            </table>
            <input type="" name="idSeleccionado" id="idSeleccionado" value="">

          </form>
        </div>

      </div>
      </form>
    </div>



    <!--End Form&Card-->


  </center>



</body>

{{#if asignacion}}
<script>
  var permisosInput = document.querySelector('#permisosInput');
  var permisosValue = permisosInput.value;

  var palabras = permisosValue.split(',');

  var menuItems = document.querySelectorAll('.nav li');

  menuItems.forEach(function (item) {
    var items = item.querySelector('p').textContent.trim().toLowerCase();

    if (palabras.includes(items)) {
      item.style.display = 'block';
    } else {
      item.style.display = 'none';
    }
  });
</script>
{{/if}}

<script>
  let formulario = document.querySelector('#formulario');
  let nombreInput = document.querySelector('#nombreRol');
  let idInput = document.querySelector('#Permiso');
  let mensajeErrorNombre = document.querySelector('#mensajeErrorNombre');
  let nombre = "";
  let Permiso = "";

  nombreInput.addEventListener('blur', function () {
    nombre = nombreInput.value;
  });

  idInput.addEventListener('blur', function () {
    Permiso = idInput.value;
  });

  formulario.addEventListener('submit', function (event) {
    if (nombre === "") {
      event.preventDefault();
      mostrarError(mensajeErrorNombre, 'Debe ingresar un nombre');
    } else {
      ocultarError(mensajeErrorNombre);
    }
    if (Permiso === "") {
      event.preventDefault();
      Swal.fire(
        'Asigne al menos un permiso',
        '',
        'error'
      )
    } else {

    }
  });



  function mostrarError() {
    mensajeError.innerHTML = '<span class="icono fa fa-circle-xmark"></span>Debe ingresar un nombre';
    mensajeError.style.display = 'block';
  }

  function ocultarError() {
    mensajeError.innerHTML = '';
    mensajeError.style.display = 'none';
  }


</script>
<!--Fin footer-->
<script>

  let idSeleccionado = [];

  function obtener(checkbox, idPermisos) {
    if (checkbox.checked) {
      idSeleccionado.push(idPermisos);
      //alert('El checkbox está activado');
      //alert(idSeleccionado);

    } else {
      alert('El checkbox está desactivado');
      idSeleccionado = [];
      alert(idSeleccionado);

    }
    document.getElementById('idSeleccionado').value = idSeleccionado; // Asigna el valor de idSeleccionado al input oculto

  }
</script>
{{!-- Validar campo idSeleccionado --}}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("formulario").addEventListener("submit", function (event) {
      var inputValue = document.getElementById("idSeleccionado").value.trim();

      if (inputValue === "") {
        event.preventDefault(); // Evita que el formulario se envíe
        Swal.fire(
          'Asigne al menos un permiso',
          '',
          'error'
        )
      }
    });
  });
</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="public/assets/js/ValidacionRol.js"></script>
<!--   Core JS Files   -->
<script src="assets/js/core/jquery.min.js"></script>
<script src="assets/js/core/popper.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script>


</html>