<!DOCTYPE html>
<html lang="es">

{{> header}}
<link rel="stylesheet" href="assets/css/login.css">

<!-- navbar-->
<div class="barranav">
      {{> navbar}}
    </div>

<body>
  <br>
  <div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Iniciar
        sesión</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Registrarse</label>

      <div class="login-form">
        <div class="sign-in-htm">
          <form action="/login" method="post">
            <div class="group">
              <label for="correo" class="label">Correo</label>
              <input id="correo" type="email" class="input" name="correol" onblur="validateEmail()" required>
              <span id="emailError" style="color: red; display: none;">Correo electrónico inválido. Por favor, ingresa
                un correo válido.</span>
            </div>
            <div class="group">
              <label for="pass" class="label">Contraseña</label>
              <div class="password-input">
                <input id="pass" type="password" class="input" data-type="password" name="passswordl" required>
                <span class="toggle-password">
                  <i class="fas fa-eye"></i>
                </span>
              </div>
            </div>
            {{#if errorl}}
            <p class="errorl" style="color: rgb(255, 0, 0);"><i class="fa fa-xmark"></i>* {{errorl}}</p>
            {{/if}}
            <div class="group pt-2">
              <input type="submit" class="button" value="Iniciar sesión">
            </div>
          </form>
          <hr>
          <div class="foot-lnk pt-2">
            <a href="olvidar_contrase">¿Olvidaste tu contraseña?</a>
          </div>
        </div>

        <div class="sign-up-htm">
          <form action="/register" method="post">
            <div class="group">
              <label for="documento" class="label">Documento</label>
              <input id="documento" type="number" class="input" name="documento"
                oninput="validarNumeros(event); autocompletarContrasena();">
            </div>
            <div class="group">
              <label for="nombre" class="label">Nombre Completo</label>
              <input id="nombre" type="text" class="input" name="nombre">
            </div>
            <div class="group">
              <label for="telefono" class="label">Teléfono</label>
              <input id="telefono" type="number" class="input" name="telefono" oninput="validarNumeros(event)">
            </div>
            <div class="group">
              <label for="pass" class="label">Correo</label>
              <input id="correo" type="email" class="input" name="correo" onblur="validateEmail()" required>
              <span id="emailError" style="color: red; display: none;">Correo electrónico inválido. Por favor, ingresa
                un correo válido.</span>
            </div>
            <div class="group">
              <label for="pass" class="label">Contraseña</label>
              <div class="password-input">
                <input id="password" type="password" class="input" data-type="password" name="password" required>
                <span class="toggle-password">
                  <i class="fas fa-eye"></i>
                </span>
              </div>
              <div id="mensaje-contrasena" style="display: none; color: rgb(112, 255, 112);">
                Tu contraseña es tu número de documento.
              </div>
            </div>

            <div class="group">
            </div>
            {{#if error}}
            <p class="error" style="color: rgb(255, 0, 0);"><i class="fa fa-xmark"></i>* {{error}}</p>
            {{/if}}
            <div class="group">
              <input type="submit" class="button" value="Registrarse">
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

  <br><br><br><br>

</body>

<!--   Core JS Files   -->
<!--Funcion para no dejar ingresa numeros-->
<script>
  function validarNumeros(event) {
    const input = event.target;
    let valor = input.value;

    // Expresión regular para comprobar que solo hay números
    const regexNumeros = /^[0-9]+$/;

    // Eliminar caracteres no numéricos
    valor = valor.replace(/[^\d]/g, '');

    // Limitar la cantidad de dígitos a diez
    if (valor.length > 10) {
      valor = valor.slice(0, 10);
    }

    input.value = valor;
  }
  function validateEmail() {
    const emailInput = document.getElementById('correo');
    const email = emailInput.value.trim();
    const emailError = document.getElementById('emailError');

    // Expresión regular para validar el correo electrónico
    const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

    if (!emailPattern.test(email)) {
      emailError.style.display = 'inline'; // Mostrar el mensaje de error
      emailInput.classList.add('error'); // Opcional: Agregar una clase para resaltar el error visualmente
    } else {
      emailError.style.display = 'none'; // Ocultar el mensaje de error si el correo es válido
      emailInput.classList.remove('error'); // Opcional: Remover la clase de error si existía
    }
  }
</script>
<!--Función de autocompletar la contraseña-->
<script>
  function autocompletarContrasena() {
    var documentoInput = document.getElementById('documento');
    var contrasenaInput = document.getElementById('password');
    var mensajeContrasena = document.getElementById('mensaje-contrasena');

    // Obtener el valor del documento y asignarlo a la contraseña
    var documento = documentoInput.value;
    contrasenaInput.value = documento;

    // Mostrar el mensaje de contraseña
    mensajeContrasena.style.display = 'block';
  }
</script>

<!-- JavaScript files-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/glightbox/js/glightbox.min.js"></script>
<script src="vendor/nouislider/nouislider.min.js"></script>
<script src="vendor/swiper/swiper-bundle.min.js"></script>
<script src="vendor/choices.js/public/assets/scripts/choices.min.js"></script>
<script src="js/front.js"></script>
<!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function () {
    $('.toggle-password').click(function () {
      var passwordField = $(this).prev('input');
      var fieldType = passwordField.attr('type');

      if (fieldType === 'password') {
        passwordField.attr('type', 'text');
        $(this).find('i').removeClass('fas fa-eye').addClass('fas fa-eye-slash');
      } else {
        passwordField.attr('type', 'password');
        $(this).find('i').removeClass('fas fa-eye-slash').addClass('fas fa-eye');
      }
    });
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>
<script src="assets/js/core/jquery.min.js"></script>
<script src="assets/js/core/popper.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script>
<!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->


<!--Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</html>