<!DOCTYPE html>
<html lang="es">

{{>header}}
<link rel="stylesheet" href="assets/css/login.css">

    <!-- navbar-->
<header class="header bg-white">
  <div class="container px-lg-3">
    {{> navbar}}
  </div>
</header>
<body>

    <br>
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Olvidaste
                tu contraseña?</label>

            <div class="login-form mt-4">
                <div class="sign-up-htm">
                    <form action="" method="post">
                        <div class="group">
                            <label for="correo" class="label">Correo</label>
                            <input id="correo" type="email" class="input" name="correo" required>
                        </div>
                        {{#if error}}
                        <div class="alert alert-danger" role="alert">
                            {{error}}
                        </div>
                        {{/if}}
                        <div class="group">
                            <input type="submit" class="button" value="Enviar">
                        </div>
                        <div class="group">
                            <a href="login" class="buttonC text-center" value="Cancelar"
                                style="text-decoration: none;">CANCELAR</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<!--   Core JS Files   -->
<script src="/assets/js/core/jquery.min.js"></script>
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<script src="/assets/js/plugins/chartjs.min.js"></script>
<script src="/assets/js/plugins/bootstrap-notify.js"></script>
<script src="/assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script>
<script src="/assets/demo/demo.js"></script>

</html>