<!DOCTYPE html>
<html lang="es">

{{>header}}


<!-- navbar-->
<div class="barranav">
    {{> navbar}}
</div>

<body>
    <br>
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Restaura tu
                contraseña</label>

            <div class="login-form mt-4">
                <div class="sign-up-htm">
                    <form action="" method="post" id="passwordForm">
                        <div class="group">
                            <label for="pass" class="label">Contraseña</label>
                            <div class="password-input">
                                <input autocomplete="off" id="pass" type="password" name="password" class="input"
                                    data-type="password" required>
                                <span class="toggle-password">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        <div class="group">
                            <label for="pass2" class="label">Repetir contraseña</label>
                            <div class="password-input">
                                <input autocomplete="off" id="pass2" type="password" class="input" data-type="password"
                                    required>
                                <span class="toggle-password">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>
                            <div id="error-message" class="error-message" style="display: none; color: red;">
                                Las contraseñas no coinciden.
                            </div>
                        </div>
                        <p id="message"></p>
                        <div class="group">
                            <input type="submit" class="button" value="Enviar">
                        </div>
                        <div class="group">
                            <a href="login" class="buttonC text-center" value="Cancelar"
                                style="text-decoration: none;">CANCELAR</a>
                        </div>
                    </form>
                </div>
            </div>

            <script>
                const passwordField = document.getElementById('pass');
                const confirmPasswordField = document.getElementById('pass2');
                const errorMessage = document.getElementById('error-message');
                const registrationForm = document.getElementById('registration-form');

                confirmPasswordField.addEventListener('input', function () {
                    if (passwordField.value !== confirmPasswordField.value) {
                        errorMessage.style.display = 'block';
                    } else {
                        errorMessage.style.display = 'none';
                    }
                });

                registrationForm.addEventListener('submit', function (event) {
                    if (passwordField.value !== confirmPasswordField.value) {
                        event.preventDefault(); // Prevent the form from submitting
                        errorMessage.style.display = 'block';

                    }
                });
            </script>

        </div>
    </div>
     <script>
        const passwordForm = document.getElementById("passwordForm");
        const passwordInput = document.getElementById("pass");
        const message = document.getElementById("message");

        passwordForm.addEventListener("submit", (e) => {
            const password = passwordInput.value;

            // Verificar si la contraseña cumple con los requisitos
            const isPasswordValid = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/.test(password);

            if (!isPasswordValid) {
                e.preventDefault(); // Evitar que el formulario se envíe
                message.textContent = "La contraseña debe tener al menos 8 caracteres, una mayúscula, una minúscula y un número.";
                message.style.color = "red";
            }
        });
    </script>


    <script>
        $(document).ready(function () {
            $('.toggle-password').click(function () {
                var passwordField = $(this).prev('input');
                var fieldType = passwordField.attr('type');

                if (fieldType === 'password') {
                    passwordField.attr('type', 'text');
                    $(this).find('i').removeClass('fas fa-eye').addClass('fas fa-eye-slash');
                } else {
                    passwordField.attr('type', 'password');
                    $(this).find('i').removeClass('fas fa-eye-slash').addClass('fas fa-eye');
                }
            });
        });
    </script>


    <!--   Core JS Files   -->
    <script src="/assets/js/core/jquery.min.js"></script>
    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/core/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <script src="/assets/js/plugins/chartjs.min.js"></script>
    <script src="/assets/js/plugins/bootstrap-notify.js"></script>
    <script src="/assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script>
    <script src="/assets/demo/demo.js"></script>
</body>

</html>