<!DOCTYPE html>
<html lang="es">

{{>header}}
<link rel="stylesheet" href="assets/css/login.css">

    <!-- navbar-->
<header class="header bg-white">
  <div class="container px-lg-3">
    {{> navbar}}
  </div>
</header>
<body>
    <br>
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Restaura tu
                contraseña</label>

            <div class="login-form mt-4">
                <div class="sign-up-htm">
                    <form action="" method="post">
                        <div class="group">
                            <label for="pass" class="label">Contraseña</label>
                            <div class="password-input">
                                <input id="pass" type="password" name="passsword" class="input" data-type="password" required>
                                <span class="toggle-password">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Repetir contraseña</label>
                            <div class="password-input">
                                <input id="pass" type="password" class="input" data-type="password" required>
                                <span class="toggle-password">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Enviar">
                        </div>
                        <div class="group">
                            <a href="login" class="buttonC text-center" value="Cancelar"
                                style="text-decoration: none;">CANCELAR</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.toggle-password').click(function () {
                var passwordField = $(this).prev('input');
                var fieldType = passwordField.attr('type');

                if (fieldType === 'password') {
                    passwordField.attr('type', 'text');
                    $(this).find('i').removeClass('fas fa-eye').addClass('fas fa-eye-slash');
                } else {
                    passwordField.attr('type', 'password');
                    $(this).find('i').removeClass('fas fa-eye-slash').addClass('fas fa-eye');
                }
            });
        });
    </script>


    <!--   Core JS Files   -->
    <script src="/assets/js/core/jquery.min.js"></script>
    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/core/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <script src="/assets/js/plugins/chartjs.min.js"></script>
    <script src="/assets/js/plugins/bootstrap-notify.js"></script>
    <script src="/assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script>
    <script src="/assets/demo/demo.js"></script>
</body>

</html>