{{> header }}

<body>
    <!-- navbar-->
    <header class="header bg-white">
        <div class="container px-lg-3">
            {{> navbar}}
        </div>
    </header>

    <!--Cuerpo-->

    <center>
        <h2>Sobre nosotros</h2>
    </center>
    <section class="leviticoSobre">
        <div class="container align-items-center text-center empresa">
            <img src="assets/img/carrusel2.jpeg" alt="">
        </div>
    </section>
    <div class="container">
        <div class="row" style="position: relative;">
            <div class="col-md-4 columnaSobre">
                <div class="SobreNos ">

                    <section class="card_section_1">
                        <h3 class="pt-4">Misión</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas praesentium voluptate
                            similique</p>
                    </section>
                    <section class="card_section_2">

                        <img class="imgSobre" src="assets/img/mision.jpg">
                </div>
            </div>
            <div class="col-md-4 columnaSobre">
                <div class="SobreNos">


                    <section class="card_section_1">
                        <h3 class="pt-4">Visión</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas praesentium voluptate
                            similique</p>
                    </section>
                    <section class="card_section_2">
                        <img class="imgSobre" src="assets/img/visión.jpg" alt="">
                    </section>
                </div>
            </div>
            <div class="col-md-4 columnaSobre">
                <div class="SobreNos">

                    <section class="card_section_1">
                        <h3 class="pt-4">Servicios</h3>
                        <p>Ofrece los servicios de reparación y mantenimiento de toda clase de artículos de marroquinería, chaquetas, bolsos, calzado y fabricamos toda clase de marroquinería en cuero.</p>
                    </section>
                    <section class="card_section_2">
                        <img class="imgSobre" src="assets/img/mision.jpg" alt="">
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="whatsapp-container">
        <a href="https://wa.me/5211234567890?text=Me%20gustaría%20saber%20el%20precio%20del%20coche" class="whatsapp"
            target="_blank">
            <i class="fab fa-whatsapp whatsapp-icon"></i>
            <div class="whatsapp-tooltip p-1">Chatea con nosotros</div>
        </a>

    </div>
    <br><br><br>
    {{> footer }}
    <!-- JavaScript files-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/glightbox/js/glightbox.min.js"></script>
    <script src="vendor/nouislider/nouislider.min.js"></script>
    <script src="vendor/swiper/swiper-bundle.min.js"></script>
    <script src="vendor/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="js/front.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</body>