<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Inicio footer-->
<footer class="footer-dark bg-dark text-white">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4">
                <div class="iconos footer1 iconLogo text-center">
                    <img src="assets/img/levitico.png" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="iconos footer1 iconSoci text-center">
                    <a href="#" class="social-icon">
                        <i class="fa-brands fa-facebook fa-xl"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fa-brands fa-whatsapp fa-xl"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fa-brands fa-instagram fa-xl"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="iconos footer1 text-center">
                    <p><b>Dirección:</b> Calle 96 #68-25 Al lado de Flamingo Castilla.</p>
                    <p><b>Horario de atención:</b> Lunes a Viernes 8:00 a.m. a 7:00 p.m. y Sábados de 8:00 a.m. a 12:00
                        m.</p>
                </div>
            </div>
        </div>
        <hr style="border-color: #1d1d1d !important">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="small mb-0">&copy; Todos los derechos reservados Nallybe Taborda, Jose Luis Zapata 2022</p>
            </div>
        </div>
    </div>
</footer>

<script src="https://kit.fontawesome.com/bc88cb68e3.js" crossorigin="anonymous"></script>
<!--Fin footer-->