<!--Inicio footer-->
<footer class="footer bg-dark text-white">
    <div class="container py-4 ">
        <div class="footerprincipal">
            <div class="iconos footer1 iconLogo">
                <img src="assets/img/levitico.png" alt="">
            </div>
            <div class="iconos footer1 iconSoci">
                
                    <a href="#" class="social-icon">
                        <i class="fa-brands fa-facebook fa-xl"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fa-brands fa-whatsapp fa-xl"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fa-brands fa-instagram fa-xl"></i>
                    </a>
                
            </div>
            <div class="iconos footer1">
                <p><b>Dirección:</b> Calle 96 #68-25 Al lado de Flamingo Castilla.</p>
                <p><b>Horario de atención:</b> Lunes a Viernes 8:00 a.m. a 7:00 p.m. y Sábados de 8:00 a.m. a 12:00 m.
                </p>
            </div>
        </div>
        <div class="border-top pt-4" style="border-color: #1d1d1d !important">
            <div class="row">
                <div class=" text-center text-md-center">
                    <p class="small text-muted mb-0">&copy; 2022 La trilogia que estudia.</p>
                </div>

            </div>
        </div>
    </div>
</footer>
<script src="https://kit.fontawesome.com/bc88cb68e3.js" crossorigin="anonymous"></script>
<!--Fin footer-->