<!--Inicio footer-->
<footer class="bg-dark text-white">
    <div class="container py-4 ">
        <div class="footerprincipal">
            <div class="iconos footer1">
                <center>
                <img src="assets/img/levitico.png" alt=""></center>
            </div>
            <div class="iconos footer1">
                <center>
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook "></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-instagram"></i>
                    </a>
                </center>
            </div>
            <div class="iconos footer1">
                <p><b>Dirección:</b> Calle 96 #68-25 Al lado de Flamingo Castilla.</p>
                <p><b>Horario de atención:</b> Lunes a Viernes 8:00 a.m. a 7:00 p.m. y Sábados de 8:00 a.m. a 12:00 m.
                </p>
            </div>
        </div>
        <div class="border-top pt-4" style="border-color: #1d1d1d !important">
            <div class="row">
                <div class=" text-center text-md-center">
                    <p class="small text-muted mb-0">&copy; 2022 La trilogia que estudia.</p>
                </div>

            </div>
        </div>
    </div>
</footer>
<!--Fin footer-->